# Hello world

In [4]:
#prinmting my first message 
print("hello world")

hello world

In [6]:
"hello world"

'hello world'

In [8]:
#  printing my name 
print("Siddharth Shukla")

Siddharth Shukla

In [10]:
print(26)

26

# datatype

In [12]:
type(True)

bool

In [14]:
type(False)

bool

In [16]:
type(4)

int

In [18]:
type("hello world")

str

In [20]:
"hello world".upper()

'HELLO WORLD'

In [30]:
print("hello world".title())
print("Hello world".lower())

Hello World
hello world

In [34]:
"hello world".count('l')

3

In [38]:
"hello world".replace('l','u')

'heuuo worud'

# 3.variables

In [44]:
#assigning the value to a variable  
message_1 = "i'm learning python"
print(message_1)

i'm learning python

In [3]:
message_2="And it;s going to be intresteing "
print(message_2)

And it;s going to be intresteing

In [29]:
#joining 2 strings 
message_1 = "i'm learning python"
message_2="And it's going to be intresteing "
message=message_1+' '+ message_2
print(message)
f'{message_1} now {message_2}'

i'm learning python And it's going to be intresteing

"i'm learning python now And it's going to be intresteing "

# List

In [61]:
countries=['India','Russia','china','united states' ]
countries
# now we are going to do indexing to obtain partcular elements
print("extracting countries with the help of index")
print(countries[0])# o is the index of india 
print(countries[1])
print(countries[2])
print(countries[3])
print(countries[-1])

#now we are going  to do slicing
#list_name[start:stop]
print(countries[0:3])
print(countries[:2])

extracting countries with the help of index
India
Russia
china
united states
united states
['India', 'Russia', 'china']
['India', 'Russia']

# Adding elemnts to a list

In [92]:
countries=['india','russia','china','united states']
print(countries)
#to add item in a list 
print(countries.append('brazil'))
print("countries with new added elemnts ")
print(countries)
#adding element at different position 
print("spain is added at the index 1") 
countries.insert(1,'spain')
print(countries)
#creating new list 
countries_2=['uk','germany','africa']
print("joining 2 list ")
countries + countries_2

#now creating a new list as nested list 
nested_list=[countries,countries_2]
print(nested_list)

['india', 'russia', 'china', 'united states']
None
countries with new added elemnts
['india', 'russia', 'china', 'united states', 'brazil']
spain is added at the index 1
['india', 'spain', 'russia', 'china', 'united states', 'brazil']
joining 2 list
[['india', 'spain', 'russia', 'china', 'united states', 'brazil'], ['uk', 'germany', 'africa']]

# removing an elemnts

In [108]:
countries=['India','Russia','china','united states']
#using remove method here 
countries.remove('united states')
print(countries)
#using pop () methid 
countries.pop(-1)
print(countries)
#using del function 
del countries[0]
print(countries)

['India', 'Russia', 'china']
['India', 'Russia']
['Russia']

# sorting a list

In [137]:
numbers=[4,3,12,10,11,2,1]
#here by default it can sort it in ascending order 
numbers.sort()
print("ascending orders",numbers)
# here it will sort this from largest to smallest 
numbers.sort(reverse=True)
print("descending orderr ",numbers)
#update elemnt in a list 
numbers[0]=1000
print("12 is ereplaced with the value 1000",numbers)
#copying a list 
new_list=numbers[:]
print("copying a list numbers",new_list)
#another way to copy a list  using copy ()
new_list2=numbers.copy()
print("using copy methid to copy a list ",new_list2)

ascending orders [1, 2, 3, 4, 10, 11, 12]
descending orderr  [12, 11, 10, 4, 3, 2, 1]
12 is ereplaced with the value 1000 [1000, 11, 10, 4, 3, 2, 1]
copying a list numbers [1000, 11, 10, 4, 3, 2, 1]
using copy methid to copy a list  [1000, 11, 10, 4, 3, 2, 1]

## Dictionary

In [186]:
# my_dict={'key1':'value1','key2':'value2'}
# print(my_dict)
my_data={'name':'siddharth shukla','age':21,}
print(my_data)
print(my_data.keys())  
print(my_data.values())    
print(my_data.items())
# adding  new keys to my ductionary 
my_data['height']=1.7
print(my_data)

#updating height 
my_data.update({'height':1.9})
print(my_data)
#copy of a dictionary 
new_dict=my_data.copy()
print(new_dict)
#remove elemnts from dictionary 
my_data.pop('name')
print(my_data)
del my_data['age']
print(my_data)
#clearing evry thing from dictionary 
my_data.clear()
print(my_data)

{'name': 'siddharth shukla', 'age': 21}
dict_keys(['name', 'age'])
dict_values(['siddharth shukla', 21])
dict_items([('name', 'siddharth shukla'), ('age', 21)])
{'name': 'siddharth shukla', 'age': 21, 'height': 1.7}
{'name': 'siddharth shukla', 'age': 21, 'height': 1.9}
{'name': 'siddharth shukla', 'age': 21, 'height': 1.9}
{'age': 21, 'height': 1.9}
{'height': 1.9}
{}

# if statement

In [197]:
age=int(input("enter the age = "))
if age>=18:
    print('eligible to vote ')
elif age>=18 & age>=25:
    print('you can contest election ')
else :
    print('not ligible to vote')

enter the age =  27

eligible to vote

# for loop

In [ ]:
for <variable> in <list>:
    <code>

In [33]:
countries=['India','Russia','china','united states']
for i,country in enumerate(countries):
    print(i)
    print(country)

0
India
1
Russia
2
china
3
united states

In [13]:
my_data={'name':'siddharth shukla','age':21,}
print(my_data)
for key ,value in my_data.items():
    print(key)
    print(value)

{'name': 'siddharth shukla', 'age': 21}
name
siddharth shukla
age
21

#  function

In [ ]:
def function(<params>):
    <code>
    retrun<data>

In [40]:
def sum_values(a, b):# here paramerter is given 
    x=a+b
    return x 
sum_values(1,3)# here we are calling a function

4

# built in functions

In [43]:
countries=['India','Russia','china','united states']
print("length of countries ",len(countries))

length of countries  4

In [47]:
numbers=[10,23,24,25,26]
print( "maximum value of the elements inside teh list ", max(numbers))

maximum value of the elements inside teh list  26

In [49]:
numbers=[10,23,24,25,26]
print( "minimum value of the elements inside teh list ", min(numbers))

minimum value of the elements inside teh list  10

In [51]:
numbers=[10,23,24,25,26]
type(countries )

list

In [63]:

for i in range(0,2):
    print(i)

0
1

# Module

In [103]:
import

SyntaxError: invalid syntax (4117984695.py, line 1)

# os module

In [111]:
import os

In [113]:
os.getcwd()

'C:\\Users\\hp\\anaconda_projects\\db'

In [115]:
os.listdir()

['.ipynb_checkpoints', 'project_filebrowser.db', 'pyhton1.ipynb']

In [133]:
os.makedirs("New Folder")

FileExistsError: [WinError 183] Cannot create a file when that file already exists: 'New Folder'

In [135]:
os.listdir()

['.ipynb_checkpoints', 'New Folder', 'project_filebrowser.db', 'pyhton1.ipynb']